// nextflow.config
manifest {
    name            = 'scrnaxus'
    author          = 'Dmitrij Manakov'
    homePage        = 'https://github.com/dmkv1/scrnaxus'
    description     = 'NextFlow pipeline for the alignment, quality control and analysis of high-throughput short read single cell RNA sequencing data.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.10.0'
    version         = '1.0.0'
}

// Load modules configuration
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/starsolo.config'

// Default parameters
params {
    // Input data
    input               = null  // CSV file with sample information
    outdir              = './results'
    
    // Reference data
    ref_dir             = null  // Pre-built STAR reference directory
    genome_fasta        = null  // Genome FASTA file for indexing
    gtf_file            = null  // GTF file for annotation
    cb_whitelist        = null  // Cell barcode whitelist

    // Genome indexing options
    run_index           = false // Flag to run genome indexing
    read_length         = 150   // Read length for calculating sjdbOverhang

    // Random seed for reproducibility
    seed = 42
    
    // Process options
    help                = false
    
    // Max resources
    max_memory          = '128.GB'
    max_cpus            = 32
    max_time            = '72.h'
}

apptainer {
    enabled = true
}