// conf/containers.config

process {
    withName: STAR_ALIGNMENT {
        container = 'quay.io/biocontainers/star:2.7.11a--h0033a41_0'
    }
    
    withName: QC_DROPLETUTILS {
        container = 'quay.io/biocontainers/r-scran:1.26.2--r42h5f7b363_1'
    }
    
    withName: QC_DOUBLETFINDER {
        container = 'quay.io/biocontainers/r-scran:1.26.2--r42h5f7b363_1'
    }
    
    withName: ANALYSIS_SEURAT {
        container = 'quay.io/biocontainers/r-seurat:4.3.0.1--r42h3023b3f_0'
    }
}

singularity {
    enabled = true
    autoMounts = true
}