// conf/containers.config

process {
    withName: STAR_INDEX {
        container = 'quay.io/biocontainers/star:2.7.11a--h0033a41_0'
    }

    withName: STAR_ALIGNMENT {
        container = 'quay.io/biocontainers/star:2.7.11a--h0033a41_0'
    }
    
}

singularity {
    enabled = true
    autoMounts = true
}