// conf/resources.config

process {
    withName: STAR_ALIGNMENT {
        cpus   = { check_max( 16, 'cpus' ) }
        memory = { check_max( 64.GB, 'memory' ) }
        time   = { check_max( 24.h, 'time' ) }
    }
    
    withName: QC_DROPLETUTILS {
        cpus   = { check_max( 8, 'cpus' ) }
        memory = { check_max( 32.GB, 'memory' ) }
        time   = { check_max( 8.h, 'time' ) }
    }
    
    withName: QC_DOUBLETFINDER {
        cpus   = { check_max( 8, 'cpus' ) }
        memory = { check_max( 32.GB, 'memory' ) }
        time   = { check_max( 8.h, 'time' ) }
    }
    
    withName: ANALYSIS_SEURAT {
        cpus   = { check_max( 16, 'cpus' ) }
        memory = { check_max( 64.GB, 'memory' ) }
        time   = { check_max( 12.h, 'time' ) }
    }
}