// conf/resources.config

process {
    withName: STAR_ALIGNMENT {
        cpus   = 16
        memory = 64.GB
        time   = 24.h
    }
    
    withName: QC_DROPLETUTILS {
        cpus   = 8
        memory = 32.GB
        time   = 8.h
    }
    
    withName: QC_DOUBLETFINDER {
        cpus   = 8
        memory = 32.GB
        time   = 8.h
    }
    
    withName: ANALYSIS_SEURAT {
        cpus   = 16
        memory = 64.GB
        time   = 12.h
    }
}