params {
    starsolo {
        // General STAR options
        genomeLoad          = 'NoSharedMemory'
        readFilesCommand    = 'zcat'
        outFilterType       = 'BySJout'
        limitBAMsortRAM     = 128000000000
        outSAMtype          = 'BAM SortedByCoordinate'
        outSAMunmapped      = 'Within'
        outSAMattributes    = 'NH HI AS nM CR CY UR UY GX GN CB UB'
        outFilterScoreMin   = 30
        outFilterMultimapNmax = 10
        outSAMmultNmax      = 1
        soloMultiMappers    = 'EM'
        outMultimapperOrder = 'Random'
        clipAdapterType     = 'CellRanger4'
        
        // Solo-specific options
        soloType            = 'CB_UMI_Simple'
        soloStrand          = 'Forward'
        soloCBstart         = 1
        soloCBlen           = 16
        soloUMIstart        = 17
        soloUMIlen          = 10
        soloBarcodeReadLength = 0
        soloUMIdedup        = '1MM_CR'
        soloUMIfiltering    = 'MultiGeneUMI_CR'
        soloCBmatchWLtype   = '1MM_multi_Nbase_pseudocounts'
        soloCellFilter      = 'None'
        soloFeatures        = 'Gene'
    }
}